body {
  font-family: "Arial Black", Gadget, sans-serif;
}

.container .console {
    width: 500px;
    height: 500px;
    margin: 100px 0 0 700px;
}

.header_bar_game {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
}

.header_bar_game_name {
  margin-left: 0px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.header_bar_game_name span {
  font-size: 35px;
}

a {
  text-decoration: none;
}

.settings_button_sub {
  margin-right: 0px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.settings_button_sub span {
  font-size: 35px;
}

.quit_button {
  margin-right: 0px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.quit_button span {
  font-size: 35px;
}

.settings_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.settings_overlay:target {
  visibility: visible;
  opacity: 1;
}

.settings_popup {
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.settings_popup .close_settings {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.settings_popup .settings_content {
  max-height: 30%;
  overflow: auto;
}
