.header_bar_game {
  background-color: darkblue;
}

.container .console {
  background-color: #FFFBCC;
}

.header_bar_game_name {
  background-color: blue;
}

a {
  color: black;
}

.settings_button_sub {
  background-color: blue;
}

.settings_button_sub:hover {
  background-color: darkblue;
}

.quit_button {
  background-color: blue;
}

.quit_button:hover {
  background-color: darkblue;
}

.settings_overlay {
  background-color: white;
}

.settings_popup {
  background: #fff;
}

.settings_popup .close_settings {
  color: #333;
}

.settings_popup .close_settings:hover {
  color: #06D85F;
}
